@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

/*Geral*/
body{
    margin:0;
    padding: 0;
    font-family: 'Abel', sans-serif;
}

ul{
    margin:0;
    padding: 5px;
}

h3{
    color: #f80044;
    margin: 3px 0px 10px;
}

h3 span {
    font-size: 1.2em;
}

h4{
    font-weight: 400;
    font-size: 1.5em;
    margin: 10px 0px 0px;
}

.info {
    display: flexbox;
    flex-direction: row;
}

/*Containers*/
#container {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    min-height: 100vh;
}

#container>div {
    flex: 1;
}

#carrinho-display{
    max-width: 30vw;
}

#produtos-container{
    background-color: #fff;
    margin:10px;
    min-height: 90vh;
}

#carrinho-container{
    background-color: #fff;
    margin:10px;
    min-height: 90vh;
}

#produtos-container>h3, #carrinho-container>h3{
    padding: 0;
    margin: 0;
    padding: 5px 10px;
    text-align: right;
} 

#produtos-container{
    border: .7px solid #eee;
    flex-grow: 1;
    margin: -2px 0px -2px -2px;
}

#carrinho-container{
    border: none;
    margin: 0px;
}

/*Cards de produtos*/
#lista-produtos li{
    background:#fff;
    box-shadow: 0px 13px 21px -5px rgba(0, 0, 0, 0.2);
    width: 16vw;
    max-height: 55vh;
    text-align: center;
    padding: 20px;
    margin: 22px;
    color: #242424;
}

.action-buttons{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.action-buttons button{
    background-color: #0ec878;
    border: none;
    padding: 10px 15px;
    color: #fff;
    cursor: pointer;
    margin: 3px;
    transition: ease-out 300ms;
    outline: none;
}

.action-buttons button:hover{
    background-color: #0d9f60;
    transition: ease-out 300ms;
    border: none;
}

.details{
    display: flex;
    justify-content: flex-end;
    background-color: #fff;
    border: .5px solid #0ec878;
    padding: 2px 6px;
    color: #0ec878;
    cursor: pointer;
    margin: 3px;
    transition: ease-out 300ms;
    outline: none;
}

.details:hover{
    background-color: #0d9f60;
    border: .5px solid #0d9f60;
    color: #fff;
    transition: ease-out 300ms;
}

#lista-produtos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

#lista-produtos li img{
    height: 20vh;
    object-fit: fill;
    margin: 25px 0px 0px;
}

/*Carrrinho*/
.cart-title {
    background: #fff;;
    text-align: left;
    margin: 6px 0px;
    padding: 4px;
}

.cart-title h5 {
    font-weight: 400;
    color: #242424;
    font-size: 2.5em;
    margin: 10px 20px;
}

hr{
    color: #242424;
    border: .4px solid;
    margin: 10px 20px;
    opacity: .7;
}

#lista-carrinho li{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
    margin: 0px 0px;
    background-color: #fff;
    color: #242424;
}

#lista-carrinho li input{
    width: 30px;
    height: 20px;
    padding: 3px;
    margin: 0px 10px;
    text-align: center;
    font-size: 12px;
    border: solid 1px #0d9f60;
    outline: none;
    color: #242424;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {  
    opacity: 1;
}

#lista-carrinho li img{
    max-width: 45px;
    max-height: 45px;
    margin: 0px 10px 0px 25px;
}

#lista-carrinho li span{
    margin: 0px 5px 0px 5px;
    font-size: 15px;
    max-width: 70px;
    color: #242424;
}

.item-list-name {
    min-width: 60px;
}

.item-list-price {
    font-weight: 600;
}

.remover-item{
    border: none;
    background-image: url("./imagens/delete.svg");
    background-size: 0.7em 0.7em;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    width: 0.7em;
    height: 0.7em;
    outline: none;
    cursor: pointer;
    margin: 0px 25px 0px 0px;
}

.total p{
    text-align: right;
}
.total{
    padding: 0px 24px;
}
#total {
    font-weight: 700;
    font-size: 1.2em;
    color: #242424;
}

.checkout {
    background-color: #fff;
    border: 1px solid #0ec878;
    padding: 10px 15px;
    color: #0ec878;
    cursor: pointer;
    margin: 3px 25px;
    font-weight: 700;
    float: right;
    transition: ease-out 300ms;
    outline: none;
}

.checkout:hover {
    background-color: #0ec878;
    color: #fff;
    transition: ease-out 300ms;
}